# Question 1

**Your solution explanation here:**

The first thing to notice is that we want to create a function. This will be named ```santa_laugh``` and it will have at least one parameter.

Within the body of the function, we take the number passed in as argument and use it to create the final string, the ```laughter```, that will be returned. When the function is called the number as argument is bound to the function parameter ```laugh_int```.

To create the string, notice that it is just a repetition of the string ```Ho```. When can then use the operator ```*``` applied to strings.

Another, less preferred, option is to create the string using nested ```if..elif``` statements that check for the value of the number passed in as an argument, and create the string accordingly.

Finally, we return the string with a return statement.

In [1]:
# Your code here

# Define the function
def santa_laugh(laugh_int):
    """This function returns Santa's laughter"""
    
    # Create laughter string based on function argument
    laughter = laugh_int*"Ho"
    
    # Return string
    return laughter

In [2]:
# Function test 1
santa_laugh(3)

'HoHoHo'

In [3]:
# Function test 2
santa_laugh(7)

'HoHoHoHoHoHoHo'

# Question 2

**Your solution explanation here:**

We are given a list of strings, which is stored in a variable named ```string_list```. (You have to create this variable to start with! You can choose another name if you like)

You should assume that the list of strings can be of any length, and contain different strings. In other words, your program should be general enough to work with any given list of strings.

The program we are required to write should do the following:

1. Take each string from the list
2. Compute the length of each string
3. Convert the string to its capitalized version
4. Print out length and capitalized version of each string

This is achieved with:

1. A for loop that iterates over the elements of the list, i.e. the strings
2. The ```len()``` function applied to each string
3. The ```capitalize()``` method to capitalize each string
4. The ```print()``` function

Point 2, 3, and 4 will be part of the body of the for loop (indented) as they have to be repeated for each string in the list.

Notice that point 3 could be applied to other modification of strings, such as uppercases, lowercases, and more. Check the appropriate string methods for each modification (Lecture 6).

In [4]:
# Your code here

# Create a list of strings. This can be modified
string_list = ["luca", "london", "economics", "python"]

# Using a for loop print out sequentially
for word in string_list:
    print(len(word), word.capitalize())

4 Luca
6 London
9 Economics
6 Python

# Question 3

**Your solution explanation here:**

The aim is to write a function that converts a string passed as an argument into a new one according to a given rule. We will name this function ```replace_az```, but you can choose any name as long as it is informative of what the function does.

Within the body of the function, instead of modifying the given string directly, we will create a **new** string starting from the given one. Then, we will return the newly created string once it is ready.

The goal is to replace every letter "A" or "Z", if present, with the next letter in the string. We can do this with

- Create an empty string that will be filled.
- A for loop that iterates over every letter in the string.
- A conditional statement that check whether the current letter is equal to "A" or "Z"
    - If it is, we index the next position to get the next letter. Then we add this letter to the new string that is being filled.
    - If it is not, we just add the current letter to the new string.

Once the for loop is over, we will have the converted string that we want and we can return that.

In [5]:
# Your code here
def replace_az(original_str):
    # Initialise the new string. This will be filled iteratively
    converted_str = ""
    
    # Iteratively go over each letter in the original string, and fill the new one
    for pos, letter in enumerate(original_str):
        # Note:
        # pos indicates the index of the current letter, from 0 to length of string
        # letter is the current letter
        
        # Check whether current letter is "A" or "Z"
        if letter in "AZ":   # Another option is (letter == "A" or letter == "Z")
            # Get the next letter in the original string
            next_letter = original_str[pos+1]
            
            converted_str += next_letter
        else:
            # Simply add to the end of the new string the current letter
            converted_str += letter
    
    # Return the newly created string
    return converted_str

In [6]:
# Test function 1
replace_az("AF")

'FF'

In [7]:
# Test function 2
replace_az("ADZE")

'DDEE'

In [8]:
# Test function 3
replace_az("ARDAFEZW")

'RRDFFEWW'

# Question 4

**Your solution explanation here:**

This question requires us to use the Pandas library to complete 5 different tasks related to the dataset "expenditure_data.csv".

The very first thing that we need to do is to import the Pandas library and to name the data frame created from "expenditure_data.csv".

**Task 1:**

The ```head()``` method applied to the dataframe can be used to display the first n observations. This will be sufficient for this task.

**Task 2:**

We are interested in the region column only, and thus we will index the dataframe ```df_exp``` with the ```region``` label. This operation will return a Series object for which we can apply methods to.

We now want to count how many values of "London" appear in the series. The ```value_counts``` will return a Series containing counts of unique values. We can store this series in a new variable.

Finally, we can index the stored series with the label "London" again.


**Task 3:**

There are two main steps:

1. Compute the median income in each region.
2. Take their difference 

To compute the median of income we can apply the ```median()``` function to the "income" column. However, we only need to consider households that live in "East Mid" and "West Mid" separately. This filtering can be done via Boolean indexing, i.e. find those rows that meet a condition (e.g. whether they live in "East Mid").

Given the Boolean index, we will select those rows according to the region and pick the "income" column. This is done with the ```loc()``` method. Then, we apply the ```median()``` function.

Finally, we take the difference of the results.

**Task 4:**

Since we are only interested in households that live in the "Yorkshir" area, we can create a new dataframe from the original one. Given the new dataframe, we can then compute the percentage by counting how many households spend over £400 and divide by total number of households.

**Task 5:**

The aim is to compute the average number of households. Therefore, we are interested in the "nadults" column of the dataframe.

Notice that the values in this column are strings, which is not a suitable data type to perform numerical operations such as an average. Hence, we first need to convert all strings to their correspondent numerical value.

The ```replace()``` method allows us to replace all values that we want to replace with a new value that we provide. We want to replace "1 adult" with the number 1, and so on. Notice the ```inplace=True``` argument is needed to correctly update the dataframe.

Finally, we apply the ```mean()``` method to the "nadult" column to compute the mean.

In [9]:
# Your code here

# Import Pandas
import pandas as pd

# Read CSV file and create a data frame
df_exp = pd.read_csv("expenditure_data.csv")

In [10]:
# 1
df_exp.head(15)

,expenditure,income,maininc,region,nadults,nkids,SexHRP,housing,internet
0,380.69580,465.3600,earnings,East Mid,2 adults,Two or m,Female,Public r,1
1,546.41340,855.2600,earnings,London,2 adults,No child,Female,Owned,1
2,242.18900,160.9600,earnings,South Ea,1 adult,No child,Female,Owned,1
3,421.38240,656.2200,earnings,Eastern,2 adults,No child,Male,Owned,1
4,370.40560,398.8000,earnings,South Ea,1 adult,No child,Male,Owned,1
5,172.39720,321.0200,earnings,Scotland,1 adult,No child,Male,Public r,0
6,202.42500,350.8340,other so,Northern,2 adults,No child,Male,Owned,1
7,730.65800,1184.9900,earnings,South Ea,4 and mo,No child,Female,Public r,1
8,361.93100,619.5700,earnings,Wales,2 adults,No child,Male,Owned,1
9,659.91170,1117.8420,other so,Yorkshir,2 adults,No child,Male,Owned,1
10,338.70710,375.8000,other so,West Mid,2 adults,Two or m,Male,Public r,1
11,238.21460,819.4675,earnings,Wales,1 adult,No child,Male,Owned,1
12,507.49310,687.9345,other so,Eastern,2 adults,No child,Male,Owned,1
13,92.62071,209.8500,other so,Yorkshir,1 adult,No child,Male,Public r,1
14,593.81020,841.1100,earnings,West Mid,3 adults,No child,Male,Owned,0

In [11]:
# 2

# Create a Series that shows number of households in each region
num_hh_per_region = df_exp["region"].value_counts()

# Get the number of households in London region
num_hh_per_region["London"]

480

In [12]:
# 3

# Compute East Mid median income
east_mid_hh = (df_exp["region"] == "East Mid")
east_mid_median = df_exp.loc[east_mid_hh, "income"].median()

# Compute West Mid median income
west_mid_hh = (df_exp["region"] == "West Mid")
west_mid_median = df_exp.loc[west_mid_hh, "income"].median()

# Compute and display difference
print(f"The difference between median income in East Mid and West Mid is: {east_mid_median - west_mid_median}")

The difference between median income in East Mid and West Mid is: 51.13999999999993

In [13]:
# 4

# Create a new dataframe with households from "Yorkshir"
york_hh = (df_exp["region"] == "Yorkshir")
df_exp_york = df_exp.loc[york_hh, :]

# Compute total number of households in "Yorkshir"
tot_num_hh_york = df_exp_york.shape[0]

# Create an index that selects only household that spend over £400
exp_over_400 = (df_exp_york["expenditure"] > 400)

# Create dataframe with only household with expenditure over £400
df_exp_over_400 = df_exp_york.loc[exp_over_400,:]

# Get number of households in this dataframe
hh_num_exp_over_400 = df_exp_over_400.shape[0]

# Compute percentage
pct_hh_exp_over_400 = (hh_num_exp_over_400/tot_num_hh_york)*100
print(f"Pct of household with expenditure over £400 is {pct_hh_exp_over_400}")

Pct of household with expenditure over £400 is 47.61904761904761

In [14]:
# 5

# Convert all string values to numeric values
df_exp.replace({"1 adult": 1, "2 adults": 2, "3 adults": 3, "4 and mo": 4}, inplace=True)

# Compute average number of adults per household
df_exp["nadults"].mean()

1.8108475894245724

# Question 5

**Your solution explanation here:**

The aim of this program is to create a simple interface where the program's user (here, the student) selects a title from a given range of titles (given by the table).

The main elements of the program are:

- A list, or a dictionary, variable that stores all available titles. We can call this ```shelf```.
- A list, or a dictionary, variable that stores all borrowed titles. We can call this ```account```.
- A set of instructions that allow the user to pick a title from the ```shelf``` and add it to the ```account```.
    - A while loop will allow us to iteratively ask the user for an input.
    - The ```input()``` function will prompt the user to select the title at each iteration.

In the solution proposed below we will ask the user to input the position of the book on the ```shelf``` list, use that to index the ```shelf``` list, and add it to ```account``` list. If a dictionary is used instead, we could ask for the key and get the associated value by indexing the dictionary with the key.

Finally, we need another input from the user to choose whether they have finished their session. This will terminate the while loop.

In [ ]:
# Your code here

# Create a list containing all available book titles
shelf = ["Microeconomics", "Macroeconomics", "Econometrics", 
         "Trade", "Statistics", "Mathematics"]

# Create an empty list that will store all borrowed titles. This will be filled later
account = []

# Initialise a variable that indicates whether the session is finished
session_finished = False

# Interactively ask user for titles
while not session_finished:
    
    # Ask user which book she want to borrow
    pos_book = int(input(f"Which book would you like to borrow? Indicate position (0 to {len(shelf)-1})"))
    
    # Update the account with the current book
    account.append(shelf[pos_book])
    print(f"You've added {shelf[pos_book]} to your account")
    
    # Ask whether to end this session
    if input("Are you done for today? [Yes/No]") == "Yes":
        session_finished = True

# Display final message
print("Thanks for stopping by! You have borrowed the following titles:")
for title in account:
    print(title)