### Question 1
#### Problem solving ideas

    . Use n* string to output the result

In [9]:
def rate_my_movie(num):
    if num>5 or num<1:
        return "ERROR"
    else:
        return num*"*"
print(rate_my_movie(2))
print(rate_my_movie(5))

**
*****

### Question 2
#### Problem solving ideas

    . Use a "for" loop to traverse the List
    . Use the "len" function to output the length
    . Use the "upper" function to convert to uppercase
    . Use the "print" function to print the result

In [10]:
def printListMsg(lists):
    for item in lists:
        print(len(item),item.upper())
        
list=["This", "is", "a", "short", "sentence"]
printListMsg(list)

list2=["Another", "sentence"]
printListMsg(list2)

4 THIS
2 IS
1 A
5 SHORT
8 SENTENCE
7 ANOTHER
8 SENTENCE

### Question 3
#### Problem solving ideas

    .Get the base digits of a string
    .Get even digits of string
    .Base data and even data execute "n*"

In [12]:
def conversion(strs):
    result=""
    for index in range(0,len(strs),2):
        result+= int(strs[index]) * str(strs[index+1])
    print(result)

str1="3A"
conversion(str1)
str2="1B"
conversion(str2)
str3="3T2D1E"
conversion(str3)
str4="2M1G3E2W4O"
conversion(str4)

AAA
B
TTTDDE
MMGEEEWWOOOO

### 第四题第一小问

In [6]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
df_exp.head(25)

,expenditure,income,maininc,region,nadults,nkids,SexHRP,housing,internet
0,380.69580,465.3600,earnings,East Mid,2 adults,Two or m,Female,Public r,1
1,546.41340,855.2600,earnings,London,2 adults,No child,Female,Owned,1
2,242.18900,160.9600,earnings,South Ea,1 adult,No child,Female,Owned,1
3,421.38240,656.2200,earnings,Eastern,2 adults,No child,Male,Owned,1
4,370.40560,398.8000,earnings,South Ea,1 adult,No child,Male,Owned,1
5,172.39720,321.0200,earnings,Scotland,1 adult,No child,Male,Public r,0
6,202.42500,350.8340,other so,Northern,2 adults,No child,Male,Owned,1
7,730.65800,1184.9900,earnings,South Ea,4 and mo,No child,Female,Public r,1
8,361.93100,619.5700,earnings,Wales,2 adults,No child,Male,Owned,1
9,659.91170,1117.8420,other so,Yorkshir,2 adults,No child,Male,Owned,1
10,338.70710,375.8000,other so,West Mid,2 adults,Two or m,Male,Public r,1
11,238.21460,819.4675,earnings,Wales,1 adult,No child,Male,Owned,1
12,507.49310,687.9345,other so,Eastern,2 adults,No child,Male,Owned,1
13,92.62071,209.8500,other so,Yorkshir,1 adult,No child,Male,Public r,1
14,593.81020,841.1100,earnings,West Mid,3 adults,No child,Male,Owned,0
15,583.53770,534.7007,earnings,South We,2 adults,One chil,Female,Public r,1
16,371.21700,510.2800,earnings,Scotland,2 adults,One chil,Female,Public r,0
17,420.31770,701.6000,earnings,West Mid,1 adult,No child,Male,Owned,1
18,252.03000,332.4650,other so,Eastern,1 adult,Two or m,Female,Private,1
19,675.00490,1184.9900,earnings,South We,3 adults,No child,Male,Owned,1
20,675.49860,521.0420,earnings,Eastern,2 adults,No child,Female,Owned,1
21,359.11580,104.8500,other so,Eastern,2 adults,No child,Female,Public r,0
22,350.90180,585.6700,earnings,South Ea,1 adult,No child,Female,Owned,1
23,1175.00000,1184.9900,earnings,West Mid,2 adults,One chil,Male,Owned,1
24,162.20210,169.9420,other so,Scotland,1 adult,No child,Female,Public r,0

### 第四题第二小问

In [32]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
temp=df_exp.loc[df_exp["internet"]==0]
temp["internet"].count()

912

In [37]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
temp=df_exp["internet"].value_counts()
temp[0]

912

### 第四题第三小问

In [62]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
check= (df_exp["region"]=="London")
LonDon=df_exp.loc[check,"income"].mean()
NoLonDon=df_exp.loc[~check,"income"].mean()
print(f"伦敦地区的平均数为 {LonDon},非伦敦地区的平均数为 {NoLonDon},二者的差额为{LonDon-NoLonDon}")

伦敦地区的平均数为 678.8151504166651,非伦敦地区的平均数为 614.4251753430607,二者的差额为64.38997507360443

### 第四题第四小问

In [70]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
df_exp
temp=df_exp.loc[(df_exp["region"]=="Scotland") | (df_exp["region"]=="Wales")]
t1=temp["region"].count()
tt=temp.loc[temp["income"]-temp["expenditure"]>300]
t2=tt["region"].count()
print(f"苏格兰和威尔士总家庭数为{t1}，储蓄大于300的为{t2},百分比为{t2/t1*100}%")

苏格兰和威尔士总家庭数为658，储蓄大于300的为162,百分比为24.620060790273556%

In [100]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
df_exp.replace({"No child": 0, "One chil": 1, "Two or m": 2}, inplace=True)
grou=df_exp.groupby("region")
for name,group in grou:
    mean1=group["nkids"].mean()
    median1=group["nkids"].median()
    print(f"{name}地区小孩的平均数为:{mean1},中位数为:{median1}")

East Mid地区小孩的平均数为:0.4339622641509434,中位数为:0.0
Eastern地区小孩的平均数为:0.4567404426559356,中位数为:0.0
London地区小孩的平均数为:0.5479166666666667,中位数为:0.0
North Ea地区小孩的平均数为:0.5099601593625498,中位数为:0.0
North We地区小孩的平均数为:0.4666666666666667,中位数为:0.0
Northern地区小孩的平均数为:0.5496688741721855,中位数为:0.0
Scotland地区小孩的平均数为:0.42961165048543687,中位数为:0.0
South Ea地区小孩的平均数为:0.47577092511013214,中位数为:0.0
South We地区小孩的平均数为:0.44522144522144524,中位数为:0.0
Wales地区小孩的平均数为:0.491869918699187,中位数为:0.0
West Mid地区小孩的平均数为:0.5038022813688213,中位数为:0.0
Yorkshir地区小孩的平均数为:0.4069264069264069,中位数为:0.0

In [8]:
import pandas as pd

#初始化产品
economists = {
    "Product":     ["Pizza", "Bread", "Steak", "Chicken", "Water", "Wine", "Beer", "Cola", "Toothpaste", "Soap"],
    "Price":       [4.5,      1.5,     5,       3.5,       2,       6,      4,      3.5,    2,           1.75],
    "LoyaltyCard": [True,    True,    False,  True,    False,  True,    False,  True,    False,    True],
    "3For£10":     [True,    False,   True,   True,    False,  False,   True,   True,    False,    False]
} 

#获取产品目前购物篮中的数量
def getCount(nameIndex):
    temp=proList.loc[proList["nameIndex"]==nameIndex]
    return temp["count"].sum()

#购物篮中增加指定产品的数量
def addPro(nameIndex,count):
    if proList.loc[proList["nameIndex"]==nameIndex,"nameIndex"].count()>0:
         proList.loc[proList["nameIndex"]==nameIndex,"count"]=getCount(nameIndex)+count
    else:
        proList.loc[proList["nameIndex"].count()]=[nameIndex, count]
        
#购物篮中减少指定产品的数量
def delPro(nameIndex,count):
    if proList.loc[proList["nameIndex"]==nameIndex,"nameIndex"].count()>0:
        proList.loc[proList["nameIndex"]==nameIndex,"count"]=(getCount(nameIndex) - count)
def CheckOut():
    total=0
    for index,row in proList.iterrows():
        if row["count"]<=0:
            break
        total += CheckOutByIndex(row["nameIndex"],row["count"])
    print("\r\n总价为："+str(total))
            
def CheckOutByIndex(index,count):
    print("tiaoshi",index,count)
    price = 0
    #操作下标比实际小1
    index = index-1
    print("tiaoshi",index,count,product["Product"][index])
    
    #输出明细
    msg = "产品为：" + product["Product"][index]+" 总数为：" + str(count) + " "
    if is3For10(index):
        if count>=3:
            price += (count//3) * 10
            msg += "3个优惠套装价格为 "+str((count//3) * 10)
        if isVip(index):
            price+=(count%3) * getPrice(index) *0.95
            msg += "会员价为 "+str((count%3) * getPrice(index) *0.95)
        else:
            price+=(count%3) * getPrice(index)
            msg += "非会员价为 "+str((count%3) * getPrice(index))
    else:
        if isVip(index):
            price+=count * getPrice(index) *0.95
            msg += "会员价为 "+str(count * getPrice(index) *0.95)
        else:
            price+=count * getPrice(index)
            msg += "非会员价为 "+str(count * getPrice(index))
    msg+="\r\n"
    print(msg)
    return price
        
#判断是否为会员
def isVip(index):
    return product["LoyaltyCard"][index]

#
def is3For10(index):
    return product["3For£10"][index]

#获取价格
def getPrice(index):
    return product["Price"][index]


#购物篮
proList=pd.DataFrame({ "nameIndex": [],"count": [],})

#超市产品列表
product = pd.DataFrame(economists)

#输出信息，供用户选择
for index,row in product.iterrows():
    print("Product:" + row["Product"] + " Check Index:" + str( index + 1 ))


isCheckOut = False
while not isCheckOut:
    if input("是否添加商品?[Y/N]").lower() == "y":
        # Ask user which book she want to borrow
        addIndex = int(input(f"你要买啥? Indicate position (1 to {len(product)})"))
        addCount = int(input("你要买几个?"))
        addPro(addIndex,addCount)
    if input("是否删除商品? [Y/N]").lower() == "y":
        # Ask user which book she want to borrow
        delIndex = int(input(f"你要删除啥? Indicate position (1 to {len(product)})"))
        delCount = int(input("你要删除几个?"))
        delPro(delIndex,delCount)
    if input("是否结算商品? [Y/N]").lower() == "y":
        isCheckOut=True
        # Display final message
        print("感谢购物:商品结算明细为")
        CheckOut()

Product:Pizza Check Index:1
Product:Bread Check Index:2
Product:Steak Check Index:3
Product:Chicken Check Index:4
Product:Water Check Index:5
Product:Wine Check Index:6
Product:Beer Check Index:7
Product:Cola Check Index:8
Product:Toothpaste Check Index:9
Product:Soap Check Index:10
是否添加商品?[Y/N]y
你要买啥? Indicate position (1 to 10)1
你要买几个?7
是否删除商品? [Y/N]n
是否结算商品? [Y/N]n
是否添加商品?[Y/N]y
你要买啥? Indicate position (1 to 10)5
你要买几个?4
是否删除商品? [Y/N]n
是否结算商品? [Y/N]n
是否添加商品?[Y/N]2
是否删除商品? [Y/N]n
是否结算商品? [Y/N]n
是否添加商品?[Y/N]y
你要买啥? Indicate position (1 to 10)2
你要买几个?2
是否删除商品? [Y/N]n
是否结算商品? [Y/N]y
感谢购物:商品结算明细为
tiaoshi 1.0 7.0
tiaoshi 0.0 7.0 Pizza
产品为：Pizza 总数为：7.0 3个优惠套装价格为 20.0会员价为 4.2749999999999995

tiaoshi 5.0 4.0
tiaoshi 4.0 4.0 Water
产品为：Water 总数为：4.0 非会员价为 8.0

tiaoshi 2.0 2.0
tiaoshi 1.0 2.0 Bread
产品为：Bread 总数为：2.0 会员价为 2.8499999999999996


总价为：35.125

a