### Question 1
#### Write a function named rate_my_movie that takes an integer between 1 and 5 as an argument and returns a string of stars (*) representing a movie’s rating. One star (*) is the lowest rating, and 5 stars (*****) is the highest rating.

### 解题思路
#### 使用 n* 字符串 的形式输出结果

In [10]:
def rate_my_movie(num):
    if num>5 or num<1:
        return "ERROR"
    else:
        return num*"*"
print(rate_my_movie(2))
print(rate_my_movie(5))

**
*****

### 第二题
#### 问题拷贝到这里

### 解题思路
#### 使用for循环遍历List
#### 使用len函数输出长度
#### 使用upper函数转换成大写
#### 使用print函数打印结果

In [1]:
def printListMsg(lists):
    for item in lists:
        print(len(item),item.upper())
list=["This", "is", "a", "short", "sentence"]
printListMsg(list)

list2=["Another", "sentence"]
printListMsg(list2)

4 THIS
2 IS
1 A
5 SHORT
8 SENTENCE
7 ANOTHER
8 SENTENCE

### 第三题答案

In [2]:
def abc(strs):
    result=""
    for index in range(0,len(strs),2):
        result+= int(strs[index]) * str(strs[index+1])
    print(result)
    
str1="2M1G3E2W4O"
abc(str1)

MMGEEEWWOOOO

### 第四题第一小问

In [6]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
df_exp.head(25)

,expenditure,income,maininc,region,nadults,nkids,SexHRP,housing,internet
0,380.69580,465.3600,earnings,East Mid,2 adults,Two or m,Female,Public r,1
1,546.41340,855.2600,earnings,London,2 adults,No child,Female,Owned,1
2,242.18900,160.9600,earnings,South Ea,1 adult,No child,Female,Owned,1
3,421.38240,656.2200,earnings,Eastern,2 adults,No child,Male,Owned,1
4,370.40560,398.8000,earnings,South Ea,1 adult,No child,Male,Owned,1
5,172.39720,321.0200,earnings,Scotland,1 adult,No child,Male,Public r,0
6,202.42500,350.8340,other so,Northern,2 adults,No child,Male,Owned,1
7,730.65800,1184.9900,earnings,South Ea,4 and mo,No child,Female,Public r,1
8,361.93100,619.5700,earnings,Wales,2 adults,No child,Male,Owned,1
9,659.91170,1117.8420,other so,Yorkshir,2 adults,No child,Male,Owned,1
10,338.70710,375.8000,other so,West Mid,2 adults,Two or m,Male,Public r,1
11,238.21460,819.4675,earnings,Wales,1 adult,No child,Male,Owned,1
12,507.49310,687.9345,other so,Eastern,2 adults,No child,Male,Owned,1
13,92.62071,209.8500,other so,Yorkshir,1 adult,No child,Male,Public r,1
14,593.81020,841.1100,earnings,West Mid,3 adults,No child,Male,Owned,0
15,583.53770,534.7007,earnings,South We,2 adults,One chil,Female,Public r,1
16,371.21700,510.2800,earnings,Scotland,2 adults,One chil,Female,Public r,0
17,420.31770,701.6000,earnings,West Mid,1 adult,No child,Male,Owned,1
18,252.03000,332.4650,other so,Eastern,1 adult,Two or m,Female,Private,1
19,675.00490,1184.9900,earnings,South We,3 adults,No child,Male,Owned,1
20,675.49860,521.0420,earnings,Eastern,2 adults,No child,Female,Owned,1
21,359.11580,104.8500,other so,Eastern,2 adults,No child,Female,Public r,0
22,350.90180,585.6700,earnings,South Ea,1 adult,No child,Female,Owned,1
23,1175.00000,1184.9900,earnings,West Mid,2 adults,One chil,Male,Owned,1
24,162.20210,169.9420,other so,Scotland,1 adult,No child,Female,Public r,0

### 第四题第二小问

In [32]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
temp=df_exp.loc[df_exp["internet"]==0]
temp["internet"].count()

912

In [37]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
temp=df_exp["internet"].value_counts()
temp[0]

912

### 第四题第三小问

In [62]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
check= (df_exp["region"]=="London")
LonDon=df_exp.loc[check,"income"].mean()
NoLonDon=df_exp.loc[~check,"income"].mean()
print(f"伦敦地区的平均数为 {LonDon},非伦敦地区的平均数为 {NoLonDon},二者的差额为{LonDon-NoLonDon}")

伦敦地区的平均数为 678.8151504166651,非伦敦地区的平均数为 614.4251753430607,二者的差额为64.38997507360443

### 第四题第四小问

In [70]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
df_exp
temp=df_exp.loc[(df_exp["region"]=="Scotland") | (df_exp["region"]=="Wales")]
t1=temp["region"].count()
tt=temp.loc[temp["income"]-temp["expenditure"]>300]
t2=tt["region"].count()
print(f"苏格兰和威尔士总家庭数为{t1}，储蓄大于300的为{t2},百分比为{t2/t1*100}%")

苏格兰和威尔士总家庭数为658，储蓄大于300的为162,百分比为24.620060790273556%

In [100]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
df_exp.replace({"No child": 0, "One chil": 1, "Two or m": 2}, inplace=True)
grou=df_exp.groupby("region")
for name,group in grou:
    mean1=group["nkids"].mean()
    median1=group["nkids"].median()
    print(f"{name}地区小孩的平均数为:{mean1},中位数为:{median1}")

East Mid地区小孩的平均数为:0.4339622641509434,中位数为:0.0
Eastern地区小孩的平均数为:0.4567404426559356,中位数为:0.0
London地区小孩的平均数为:0.5479166666666667,中位数为:0.0
North Ea地区小孩的平均数为:0.5099601593625498,中位数为:0.0
North We地区小孩的平均数为:0.4666666666666667,中位数为:0.0
Northern地区小孩的平均数为:0.5496688741721855,中位数为:0.0
Scotland地区小孩的平均数为:0.42961165048543687,中位数为:0.0
South Ea地区小孩的平均数为:0.47577092511013214,中位数为:0.0
South We地区小孩的平均数为:0.44522144522144524,中位数为:0.0
Wales地区小孩的平均数为:0.491869918699187,中位数为:0.0
West Mid地区小孩的平均数为:0.5038022813688213,中位数为:0.0
Yorkshir地区小孩的平均数为:0.4069264069264069,中位数为:0.0