### ==== Question 1 ====
**Problem solving ideas**

    . Use n* string to output the result

In [1]:
def rate_my_movie(num):
    if num>5 or num<1:
        return "ERROR"
    else:
        return num*"*"
print(rate_my_movie(2))
print(rate_my_movie(5))

**
*****

### ==== Question 2 ====
**Problem solving ideas**


    . Use a "for" loop to traverse the List
    . Use the "len" function to output the length
    . Use the "upper" function to convert to uppercase
    . Use the "print" function to print the result

In [2]:
def printListMsg(lists):
    for item in lists:
        print(len(item),item.upper())
        
list=["This", "is", "a", "short", "sentence"]
printListMsg(list)

list2=["Another", "sentence"]
printListMsg(list2)

4 THIS
2 IS
1 A
5 SHORT
8 SENTENCE
7 ANOTHER
8 SENTENCE

### ==== Question 3 ====
**Problem solving ideas**


    .Get the base digits of a string
    .Get even digits of string
    .Base data and even data execute "n*"

In [3]:
def conversion(strs):
    result=""
    for index in range(0,len(strs),2):
        result+= int(strs[index]) * str(strs[index+1])
    print(result)

str1="3A"
conversion(str1)
str2="1B"
conversion(str2)
str3="3T2D1E"
conversion(str3)
str4="2M1G3E2W4O"
conversion(str4)

AAA
B
TTTDDE
MMGEEEWWOOOO

### ==== Question 4.1 ====
**Problem solving ideas**


    .Use the "head" function to output the first 25 rows of data

In [4]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
df_exp.head(25)

,expenditure,income,maininc,region,nadults,nkids,SexHRP,housing,internet
0,380.69580,465.3600,earnings,East Mid,2 adults,Two or m,Female,Public r,1
1,546.41340,855.2600,earnings,London,2 adults,No child,Female,Owned,1
2,242.18900,160.9600,earnings,South Ea,1 adult,No child,Female,Owned,1
3,421.38240,656.2200,earnings,Eastern,2 adults,No child,Male,Owned,1
4,370.40560,398.8000,earnings,South Ea,1 adult,No child,Male,Owned,1
5,172.39720,321.0200,earnings,Scotland,1 adult,No child,Male,Public r,0
6,202.42500,350.8340,other so,Northern,2 adults,No child,Male,Owned,1
7,730.65800,1184.9900,earnings,South Ea,4 and mo,No child,Female,Public r,1
8,361.93100,619.5700,earnings,Wales,2 adults,No child,Male,Owned,1
9,659.91170,1117.8420,other so,Yorkshir,2 adults,No child,Male,Owned,1
10,338.70710,375.8000,other so,West Mid,2 adults,Two or m,Male,Public r,1
11,238.21460,819.4675,earnings,Wales,1 adult,No child,Male,Owned,1
12,507.49310,687.9345,other so,Eastern,2 adults,No child,Male,Owned,1
13,92.62071,209.8500,other so,Yorkshir,1 adult,No child,Male,Public r,1
14,593.81020,841.1100,earnings,West Mid,3 adults,No child,Male,Owned,0
15,583.53770,534.7007,earnings,South We,2 adults,One chil,Female,Public r,1
16,371.21700,510.2800,earnings,Scotland,2 adults,One chil,Female,Public r,0
17,420.31770,701.6000,earnings,West Mid,1 adult,No child,Male,Owned,1
18,252.03000,332.4650,other so,Eastern,1 adult,Two or m,Female,Private,1
19,675.00490,1184.9900,earnings,South We,3 adults,No child,Male,Owned,1
20,675.49860,521.0420,earnings,Eastern,2 adults,No child,Female,Owned,1
21,359.11580,104.8500,other so,Eastern,2 adults,No child,Female,Public r,0
22,350.90180,585.6700,earnings,South Ea,1 adult,No child,Female,Owned,1
23,1175.00000,1184.9900,earnings,West Mid,2 adults,One chil,Male,Owned,1
24,162.20210,169.9420,other so,Scotland,1 adult,No child,Female,Public r,0

### ==== Question 4.2 ====
**Problem solving ideas**


    .Get all data not connected to the Internet
    .Calculate the total number of rows of data

In [5]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
temp=df_exp.loc[df_exp["internet"]==0]
temp["internet"].count()

912

**The second method**

    .Use value_counts statistics
    .Get the amount of data that is 0 (not connected to the Internet)

In [6]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")
temp=df_exp["internet"].value_counts()
temp[0]

912

### ==== Question 4.3 ====
**Problem solving ideas**
    
    ."London" judgment condition
    ."London" area average
    .Average of non-"London" area

In [7]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")

#"London" judgment condition
check= (df_exp["region"]=="London")

#"London" area average
LonDon=df_exp.loc[check,"income"].mean()
#Average of non-"London" area
NoLonDon=df_exp.loc[~check,"income"].mean()

print(f"The average for the London area is:{LonDon},The non-London area average is: {NoLonDon},The difference between the two is:{LonDon-NoLonDon}")

The average for the London area is:678.8151504166651,The non-London area average is: 614.4251753430607,The difference between the two is:64.38997507360443

### ==== Question 4.4 ====
**Problem solving ideas**

    .Get the data list of "Scotland" and "Wales"
    .Calculate households with savings greater than 300

In [8]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")

#Get the data list of "Scotland" and "Wales"
resTotal=df_exp.loc[(df_exp["region"]=="Scotland") | (df_exp["region"]=="Wales")]
resCount=resTotal["region"].count()

#Calculate households with savings greater than 300
savTotal=resTotal.loc[resTotal["income"]-resTotal["expenditure"]>300]
savCount=savTotal["region"].count()

print(f"The total number of households in Scotland and Wales is:{resCount}，Savings greater than 300 are:{savCount},The percentage is:{round(savCount/resCount*100,2)}%")

The total number of households in Scotland and Wales is:658，Savings greater than 300 are:162,The percentage is:24.62%

### ==== Question 4.5 ====
**Problem solving ideas**

    .Replace string with numbers
    .Group by region
    .Loop data output result

In [9]:
import pandas as pd
df_exp = pd.read_csv("expenditure_data.csv")

#Replace string with numbers
df_exp.replace({"No child": 0, "One chil": 1, "Two or m": 2}, inplace=True)

#Group by region
grouList=df_exp.groupby("region")

#Loop data output result
for name,group in grouList:
    mean1=group["nkids"].mean()
    median1=group["nkids"].median()
    print(f"The average number of children in \"{name}\" area is:{round(mean1,3)},Median is:{int(median1)}")

The average number of children in "East Mid" area is:0.434,Median is:0
The average number of children in "Eastern" area is:0.457,Median is:0
The average number of children in "London" area is:0.548,Median is:0
The average number of children in "North Ea" area is:0.51,Median is:0
The average number of children in "North We" area is:0.467,Median is:0
The average number of children in "Northern" area is:0.55,Median is:0
The average number of children in "Scotland" area is:0.43,Median is:0
The average number of children in "South Ea" area is:0.476,Median is:0
The average number of children in "South We" area is:0.445,Median is:0
The average number of children in "Wales" area is:0.492,Median is:0
The average number of children in "West Mid" area is:0.504,Median is:0
The average number of children in "Yorkshir" area is:0.407,Median is:0

### ==== Question 5 ====
**Problem solving ideas**

    .Create minimal functional function
    .Add or subtract products from the user list
    .Finally calculate the product price based on the user list

In [1]:
import pandas as pd

#Initialize supermarket products
economists = {
    "Product":     ["Pizza", "Bread", "Steak", "Chicken", "Water", "Wine", "Beer", "Cola", "Toothpaste", "Soap"],
    "Price":       [4.5,      1.5,     5,       3.5,       2,       6,      4,      3.5,    2,           1.75],
    "LoyaltyCard": [True,    True,    False,  True,    False,  True,    False,  True,    False,    True],
    "3For£10":     [True,    False,   True,   True,    False,  False,   True,   True,    False,    False]
} 

#shopping basket
proList=pd.DataFrame({ "nameIndex": [],"count": [],})

#Supermarket product list
product = pd.DataFrame(economists)

#Get the current quantity of the product in the shopping basket
def getCount(nameIndex):
    temp=proList.loc[proList["nameIndex"]==nameIndex]
    return temp["count"].sum()

#Increase the number of specified products in the shopping basket
def addPro(nameIndex,count):
    
    #Product exists, increase quantity
    if proList.loc[proList["nameIndex"]==nameIndex,"nameIndex"].count()>0:
         proList.loc[proList["nameIndex"]==nameIndex,"count"]=getCount(nameIndex)+count
            
    #Product does not exist, add row data
    else:
        proList.loc[proList["nameIndex"].count()]=[nameIndex, count]
        
#Reduce the number of specified products in the shopping basket
def delPro(nameIndex,count):
    #Product exists, reduce quantity
    if proList.loc[proList["nameIndex"]==nameIndex,"nameIndex"].count()>0:
        proList.loc[proList["nameIndex"]==nameIndex,"count"]=(getCount(nameIndex) - count)
        
#CheckOut
def CheckOut():
    total=0
    #Traverse the user’s shopping basket list and count products one by one
    for index,row in proList.iterrows():
        if row["count"]<=0:
            break
        #Cumulative total price
        total += CheckOutByIndex(row["nameIndex"],row["count"])
    print("\r\nTotal Price："+str(total))
            
def CheckOutByIndex(index,count):
    price = 0
    #Operation index is 1 smaller than actual
    index = index-1
    
    #Output details
    msg = "Product：" + product["Product"][index]+" Count：" + str(int(count)) + " "
    if is3For10(index):
        if count>=3:
            price += (count//3) * 10
            msg += "3For£10 Total:"+str((count//3) * 10)
        if isVip(index):
            price+=round((count%3) * getPrice(index) *0.95,2)
            msg += " Loyalty card:"+str(round((count%3) * getPrice(index) *0.95,2))
        else:
            price+=round((count%3) * getPrice(index),2)
            msg += "No Loyalty card:"+str(round((count%3) * getPrice(index),2))
    else:
        if isVip(index):
            price+=round(count * getPrice(index) *0.95,2)
            msg += "Loyalty card:"+str(round(count * getPrice(index) *0.95,2))
        else:
            price+=round(count * getPrice(index),2)
            msg += "No Loyalty card: "+str(round(count * getPrice(index),2))
    msg+="\r\n"
    print(msg)
    return price
        
#Determine whether it is LoyaltyCard
def isVip(index):
    return product["LoyaltyCard"][index]

#Determine whether it is is3For10
def is3For10(index):
    return product["3For£10"][index]

#Get Price
def getPrice(index):
    return product["Price"][index]

#Output information for users to choose
for index,row in product.iterrows():
    print("Product:" + row["Product"] + " Check Index:" + str( index + 1 ))
print("\r\n")


isCheckOut = False
while not isCheckOut:
    if input("Whether to add goods?[Y/N]").lower() == "y":
        # Ask user which book she want to borrow
        addIndex = int(input(f"The serial number of the product you want to buy? Indicate position (1 to {len(product)})"))
        addCount = int(input("Please enter the quantity:"))
        addPro(addIndex,addCount)
    if input("Whether to delete goods? [Y/N]").lower() == "y":
        # Ask user which book she want to borrow
        delIndex = int(input(f"The serial number of the product you want to delete? Indicate position (1 to {len(product)})"))
        delCount = int(input("Please enter the quantity:"))
        delPro(delIndex,delCount)
    if input("Whether to settle the goods? [Y/N]").lower() == "y":
        isCheckOut=True
        # Display final message
        print("\r\nThanks for shopping: The product settlement details are:")
        CheckOut()

Product:Pizza Check Index:1
Product:Bread Check Index:2
Product:Steak Check Index:3
Product:Chicken Check Index:4
Product:Water Check Index:5
Product:Wine Check Index:6
Product:Beer Check Index:7
Product:Cola Check Index:8
Product:Toothpaste Check Index:9
Product:Soap Check Index:10


Whether to add goods?[Y/N]y
The serial number of the product you want to buy? Indicate position (1 to 10)5
Please enter the quantity:5
Whether to delete goods? [Y/N]n
Whether to settle the goods? [Y/N]n
Whether to add goods?[Y/N]y
The serial number of the product you want to buy? Indicate position (1 to 10)1
Please enter the quantity:5
Whether to delete goods? [Y/N]y
The serial number of the product you want to delete? Indicate position (1 to 10)1
Please enter the quantity:1
Whether to settle the goods? [Y/N]y

Thanks for shopping: The product settlement details are:
Product：Water Count：5 No Loyalty card: 10.0

Product：Pizza Count：4 3For£10 Total:10.0 Loyalty card:4.27


Total Price：24.27